<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border-width: 2px;
    padding: 10px 3px;
    border-style: solid;
    border-color: lightgray;
    text-align: left;
    vertical-align: top;
        display: table-cell;
    vertical-align: inherit;
    border: center;
  
  }
table {
  background-color: #583030;
  border:solid green;

}
    h2{
      align-content: center;
      text-align: center;
      color: #000000;
      color: #8a2be2;
    }
    th,td{
      color: red;

    }
</style>
</head>
<body>

<h2>NUMBERS</h2>

<table style="width:100%">
  <div></div>
  <tr>
    <th>1 = One  </th>
    <th>2 = Two</th> 
    <th>3 = Three </th>
    <th> 4 = Four</th>
    <th>5 = Five  </th>
    <th>6 = Six</th>
    <th>7 = Seven </th>
    <th> 8 = Eight
</th>
    <th>9 = Nine  </th>
    <th> 10 = Ten</th>
  </tr>
  <tr>
    <td>11 – Eleven</td>
    <td>12 – Twelve</td>
    <td>13 – Thirteen</td>
    <td>14- Fourteen</td>
    <td> 15 – Fifteen</td>
    <td>16 – Sixteen</td>
    <td>17 – Seventeen</td>
    <td>18 – Eighteen</td>
    <td>19 – Nineteen</td>
    <td>20 -Twenty</td>
  </tr>
</table>

</body>
</html>