<!DOCTYPE html>
<html>
<head>
   <title></title>
</head>

<body>
   <style>
      h1,
      p {
         text-align: center -20;
         color: red;
         column-width: auto;
      }

      table,
      th,
      td {
         border-width: 2px;
         padding: 10px 3px;
         border-style: solid;
         border-color: lightgray;
         text-align: left;
         vertical-align: top;
         display: table-cell;
         vertical-align: inherit;
         border: center;
         width: 40px;
         height: 40px;

      }

      table {
         background-color: lightgrey;
         border-spacing: 30px;
         border: 10px solid green;

      }
   </style>
   <table style="width:100%">
      <tr>
         <th>
            <div class="back"> <img src="static/image/apple.jpg" alt="apply"/>
            </div>
            <h1>A FOR APPLE</h1>
         </th>
         <th><img src="static/image/ball.jpg"class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> B FOR BALL</h1>
         </th>

         <th><img src="static/image/cat.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> C FOR CAT</h1>
         </th>
         <th> <img src="static/image/dog.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> D FOR DOG</h1>
         </th>
         <th><img src="static/image/egg.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> E FOR EGG</h1>
         </th>
         </h1>
         </th>
      </tr>
      <tr>
         <th><img src="static/image/frog.jpg"class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> F FOR FROG</h1>
         </th>
         <th><img src="static/image/goat.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1>G FOR GOAT</h1>
         </th>

         <td><img src="static/image/hen.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> H FOR HEN</h1>
         </td>
         <td><img src="static/image/ice.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> I FOR ICE CREAM</h1>
         </td>
         <td> <img src="static/image/joker.jpg"class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> J FOR JOKER</h1>
         </td>
      </tr>
      <tr>
         <td> <img src="static/image/kite.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> K FOR KITE</h1>
         </td>
         <td> <img src="static/image/lion.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> L FOR LION</h1>
         </td>
         <td> <img src="static/image/mango.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> M FOR MANGO</h1>
         </td>
         <td> <img src="static/image/nest.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> N FOR NEST</h1>
         </td>
         <td> <img src="static/image/owl.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> O FOR OWL</h1>
         </td>
      </tr>
      <tr>
         <td> <img src="static/image/pen.jpg"class="rounded float-end" alt="ball" style="float:left;width:200px;height:200px;">
            <h1> P FOR PEN</h1>
         </td>
         <td> <img src="static/image/queen.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1>Q FOR QUEEN</h1>
         </td>
         <td> <img src="static/image/rabbit.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1>R FOR RABBIT</h1>
         </td>
         <td> <img src="static/image/sun.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> S FOR SUN</h1>
         </td>
         <td> <img src="static/image/umbrella.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1>U FOR UMBRELLA</h1>
         </td>
      </tr>
      <tr>
         <td> <img src="static/image/van.jpg"class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> V FOR VAN</h1>
         </td>
         <td> <img src="static/image/whale.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> W FOR WHALE</h1>
         </td>
         <td> <img src="static/image/xylophone.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> X FOR XYLOPHONE</h1>
         </td>
         <td> <img src= "static/image/yak.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> Y FOR YAK </h1>
         </td>
         <td> <img src="static/image/zebra.jpg" class="rounded float-end" alt="ball"
               style="float:left;width:200px;height:200px;">
            <h1> Z FOR ZEBRA</h1>
         </td>
      </tr>
   </table>
   </h1>
   </tr>
</body>

</html>